<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241696567632-o1opb538qlkt3jnof7a4q4sah3mh8rkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241696567632-o1opb538qlkt3jnof7a4q4sah3mh8rkn</string>
	<key>API_KEY</key>
	<string>AIzaSyADAYsTVuQk1OJpzBarW4z3YOEwu8TG8sQ</string>
	<key>GCM_SENDER_ID</key>
	<string>241696567632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nanumi</string>
	<key>PROJECT_ID</key>
	<string>nanumi-df9e4</string>
	<key>STORAGE_BUCKET</key>
	<string>nanumi-df9e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241696567632:ios:56b287f8bf9bf4643bfc55</string>
</dict>
</plist>